<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="rafraichir($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="ConnexionVar.getConnectionVar().connected == false">
    <h3>Bienvenue dans l'application petit prince</h3>

    <p>
      Merci de bien vouloir vous connecter afin de pouvoir utilisé l'application
    </p>

    <button ion-button (click)=connection() >Connexion</button>
  </div>

  <div *ngIf="ConnexionVar.getConnectionVar().connected == true">
    <h3>Bonjour, {{ ConnexionVar.getConnectionVar().identifiant }}</h3>
    <button ion-button (click)=deconnection() >Deconnexion</button>
  </div>
</ion-content>
