page-galeries {

ion-slides{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 200px;
}

ion-slide{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-slide.swiper-slide {
    left: 25%;
}

.slide-zoom {
    background: #FFFFFF;
}

.thumb-img {
    padding: 0px;
    margin: 0px;
}

img {
	height: 100px;
}

.image-texte{
	margin-bottom: 1%;
}

}
